<h1>{{repository.name}}</h1>

<ul class="infos">
  <li>
    <span>General Infos</span>
    <dl>
      <dt>Homepage</dt>
      <dd>{{repository.homepage}}</dd>
      <dt>Stared</dt>
      <dd>{{repository.stargazers_count}}</dd>
      <dt>Watchers</dt>
      <dd>{{repository.watchers_count}}</dd>
      <dt>Forked</dt>
      <dd>{{repository.forks_count}}</dd>
      <dt>Open Issues</dt>
      <dd>{{repository.open_issues_count}}</dd>
      <dt>Has Wiki</dt>
      <dd>{{repository.has_wiki}}</dd>
    </dl>
  </li>
  <li>
    <span>Contribution Infos</span>
    <dl>
      <dt>Last update</dt>
      <dd>{{repository.update_at}}</dd>
      <dt>Repository Language</dt>
      <dd>{{repository.language}}</dd>
    </dl>
  </li>
</ul>

